<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="UTF-8" />
  <title>AngularJS TIPS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body ng-controller="MyController">

  <div class="container">
    <h3>開発環境一覧</h3>
    <hr>
    <p><button ng-click="onclick()">更新</button></p>
    <div class="row">
      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <h3 class="panel-title">EC2</h3>
          <div class="pull-right">
            <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr class="filters">
              <th><input type="text" class="form-control" placeholder="Name" disabled></th>
              <th><input type="text" class="form-control" placeholder="Spec" disabled></th>
              <th><input type="text" class="form-control" placeholder="Local IP" disabled></th>
              <th><input type="text" class="form-control" placeholder="Public IP" disabled></th>
              <th><input type="text" class="form-control" placeholder="Group" disabled></th>
              <th><input type="text" class="form-control" placeholder="Status" disabled></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="result in ec2Results">
              <td>{{result.Instances[0].Tags.Name}}</td>
              <td>{{result.Instances[0].InstanceType}}</td>
              <td>{{result.Instances[0].PrivateIpAddress}}</td>
              <td>{{result.Instances[0].PublicIpAddress}}</td>
              <td>{{result.Instances[0].Tags.Group}}</td>
              <td>{{result.Instances[0].State.Name}}</td>

            </tr>
            <tr ng-repeat="result in rdsResults">
              <td>{{result.Instances[0].DBName}}</td>
              <td>{{result.Instances[0].DBInstanceClass}}</td>
              <td>{{result.Instances[0].PrivateIpAddress}}</td>
              <td>{{result.Instances[0].Endpoint.Address}}:{{result.Instances[0].Endpoint.Port}}</td>
              <td>{{result.Instances[0].Tags.Group}}</td>
              <td>{{result.Instances[0].State.Name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.js"></script>
  <script src="javascripts/controller.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="javascripts/filter.js"></script>
</body>

</html>